
*{
    margin: 0;
    padding: 0;
}


body{
    height: 5000px;
}

.main{
    width: 100%;
    height:100vh;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    /* text-indent: 10%; */
    position: fixed;
    display: none;
    
    

}

.add{
    display: block;
    


}

.word{
    display: inline-block;
    margin-top: 300px;
    font-size: 40px;
    letter-spacing: 7px;
    font-weight: bolder;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;

}

.word::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    animation-name: test;
    animation-duration: 2550ms;
    animation-iteration-count: infinite;
    z-index: 1;
    mix-blend-mode: difference;
    


}

@keyframes test {
    0% {left: 0%;}
    50% {left: calc(100% - 50px);}
    100% {left: 0%;}
    
}


 